<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <nav class="navebar">
        <div class="navebarMenu">
            <a href="#banner">Inicio</a>
            <a href="#aboutme">Sobre Mí</a>
            <a href="#skills">Mis Habilidades Técnicas</a>
            <a href="#soft_skills">Mis Habilidades Blandas</a>
            <a href="#projects">Mis proyectos</a>
            <a href="#contacts">Contáctame</a>
        </div>
    </nav>
    <section id="banner" class="banner">
        <div class="bannerImg"></div>
        <div class="bannerImg2">
            <img class="banerRB" src="../media/banner-rb.png" alt="">
        </div>
        <div class="bannerFilter">
            <h2 class="bannerFilter--title"><span>MARIA</span> <span>ALEJANDRA</span> <span>GOMEZ</span>
                <span>ARCHILA</span> </h2>
            <p class="bannerFilter--slogan">&lt;desarrollo software enfocado en calidad/&gt;</p>
            <a class="bannerFilter--btn" href="../files/CV-GomezMaria-nov.pdf"
                download="HV.GOMEZ.ARCHILA.MARIA.DESARROLLADORASOFTWARE.pdf">Descargar HV</a>
        </div>
    </section>
    <section id="aboutme" class="aboutme">
        <div class="aboutmeInfo">
            <h2 class="aboutmeTitle">Sobre mí<span>.</span></h2>
        </div>
    </section>
</body>

</html>